body {
    background-color: lightgray;
}

.header {
    text-align: center;
}

.form-group {
    align-content: center;
    background-color: green;
}

.form-input {
    align-content: center;
}

.chirps {
    margin: 1em;
    border: 0.05em solid black;
    background-color: greenyellow;
}

.chirpRows {
    margin: 1em;
    border: 0.05em solid black;
    background-color: lightblue;
    padding: 0.5em;
}